<STYLE>
.fondo{
  position: absolute;
  height:98%  ;
  width: 98%  ;
  top:   1%;
  left: 1%;
  background:#dddddd;}

.titulo{
  position: absolute;
  height:9%  ;
  width: 97%  ;
  top:   1%;
  left: 1%;
  border:solid 2px #aaaaaa;
  background:#113366;
  font: 80%  monospace;line-height:14.5pt;
  color:#ffff00;}

.hoja{
  position: absolute;
  height:87%  ;
  width: 97%  ;
  top:   12%;
  left: 1%;
  border:solid 2px #aaaaaa;
  background:#dddddd;}

    .box{
  position: absolute;
  height:90%  ;
  width: 97%  ; 
  top:   2%;
  left: 1%;
  border:solid 2px #00aacc;
  background: 
-webkit-linear-gradient(
top left,
rgba(160,20,100,1)      10%,  
rgba(120,110,100,9.0)   10%,
rgba(120,110,100,9.0)   40%,  
rgba(10,110,120,1)        10%);
 font: 70%  
 font-family:arial,Helvetica,sans-serif;
 line-height:10.9pt;
 font-weight:300;
 color:#ddffdd;
}


</STYLE>






